html, body {
  padding: 0;
  margin: 0;
}
body {
  color: #000;
  font-weight: normal;
  font-family: 'Roboto', Arial, sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 880px;
}
.main-header {
  background: #eeeeee;
}
.logo {
  float: left;
  width: 150px;
  padding-top: 25px;
}
.main-nav {
  float: right;
  width: 730px;
  padding-top: 60px;
}
.main-menu {
  list-style: none;
  margin: 0;
  margin-bottom: 50px;
  text-align: right;
}
.main-menu li {
  display: inline;
  padding-left: 45px;
  padding-right: 0;
}
.main-menu a {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
.main-menu a:hover {
  color: #fb565a;
}
.main-menu a:active {
  color: #000;
  opacity: 0.4;
}
.cart::before {
  position: absolute;
  display: block;
  content: "";
  width: 17px;
  height: 16px;
  top: 73px;
  right: 290px;
  background: url("../img/icon-basket.png") no-repeat;
  opacity: 0.3;
}

/*--------------------slider-------*/

.slider {
  position: relative;
  width: 880px;
  min-height: 310px;
  margin: 0 auto;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 310px;
  background-repeat: no-repeat;
  background-position: 100% 10px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.slider input[type="radio"] {
  display: none;
}
.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  z-index: 10;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}
.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  vertical-align: top;
  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.slide-text {
  width: 500px;
  padding: 30px 0;
}
.slide-title {
  font-weight: 500;
  font-size: 36px;
}
.slide p {
  font-weight: 500;
  line-height: 22px;
  color: #283136;
}
.slide .btn {
  display: block;
  width: 220px;
  margin-top: 25px;
  padding: 12px 10px;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}
.slide:nth-child(1) {
  background-image: url("../img/slide1.png");
}
.slide:nth-child(2) {
  background-image: url("../img/slide2.png");
}
.slide:nth-child(3) {
  background-image: url("../img/slide3.png");
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  left: 0;
}
#btn-1:checked ~ .slides .slide:nth-child(2), #btn-1:checked ~ .slides .slide:nth-child(3) {
  left: 880px;
}
#btn-2:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  left: 0;
}
#btn-2:checked ~ .slides .slide:nth-child(3) {
  left: -880px;
}
#btn-3:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}
#btn-3:checked ~ .slides .slide:nth-child(2) {
  left: -880px;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  left: 0;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

/*------------promo---------------*/

.promo {
  float: left;
  margin-top: 80px;
  margin-left: 75px;
  margin-bottom: 80px;
  width: 238px;
}
.promo:nth-child(1) {
  margin-left: 10px;
}
.promo-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
}
.promo-text {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: #000;
}
.promo .btn {
  display: block;
  width: 220px;
  margin-top: 25px;
  padding: 12px 9px;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
}
.red {
  background: #fb565a;
}
.red:hover {
  background: #d6494d;
}
.red:active {
  background: #b63538;
}
.green {
  background: #00ca74;
}
.green:hover {
  background: #01a25e;
}
.green:active {
  background: #009053;
}
.yellow {
  background: #efc84a;
}
.yellow:hover {
  background: #d6ae2c;
}
.yellow:active {
  background: #c09b24;
}
hr {
  border-top: #eeeeee solid 2px;
}
.about-left {
  float: left;
  width: 620px;
}
.about-right {
  float: right;
  width: 250px;
}

.section-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 18px;
    margin-top: 20px;
}

.section-list li {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    list-style-type: none;
    padding-left: 36px;
    margin-bottom: 20px;
}

.section-list li::before {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}
.section-title {
font-weight: 500;
font-size: 36px;
}
.about-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  color: #000;

}
.about-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;

}

.about-logo {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 40px;
}
.about-since {
  position:relative;
  z-index:1;
  overflow:hidden;
  text-align:center;
  left: 65px;
}

.about-since:before,
.about-since:after {
  content:'';
  display:inline-block;
  width:65px;
  height:1px;
  background:#eeeeee;
  z-index:-1;
  position:relative;
  vertical-align:middle;
}

.about-since:before {
  right:20px;
  margin:0 0 0 -100%;
}

.about-since:after {
  left:20px;
  margin:0 -100% 0 0;
}
.firm   {
  padding-top: 55px;
  padding-bottom: 55px;
}
.golushko {
  background:  url("../img/glokhanko.svg") no-repeat;
  display: block;
  width: 220px;
  height: 50px;
      opacity: 0.4;
}
.html-ac {
  background:  url("../img/html-ac.svg") no-repeat;
  display: block;
  width: 220px;
  height: 50px;
  opacity: 0.4;
}
.borod {
  background:  url("../img/borod.svg") no-repeat;
  display: block;
  width: 220px;
  height: 50px;
      opacity: 0.4;
}
.golushko :after,
.html-ac :after,
.borod :after {
  opacity: 1;
}
.label a {

  padding-right: 100px;
}
.map img {
display: block;
margin: 0 auto;
z-index: 0;
}
.adress {
  position: relative;
  content: '';
  z-index: 4;
  left: 160px;
  bottom: 300px;
  background: #fff;
  width: 250px;

}
