html, body {
  padding: 0;
  margin: 0;
}
body {
  color: #000;
  font-weight: normal;
  font-family: 'Roboto', Arial, sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 880px;
}
.main-header {
  background: #eeeeee;
}
.logo {
  float: left;
  width: 150px;
  padding-top: 25px;
}
.main-nav {
  float: right;
  width: 730px;
  padding-top: 60px;
}
.main-menu {
  list-style: none;
  margin: 0;
  text-align: right;
}
.main-menu li {
  display: inline;
  padding-left: 45px;
  padding-right: 0;
}
.main-menu a {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
.main-menu a:hover {
  color: #fb565a;
}
.main-menu a:active {
  color: #000;
  opacity: 0.4;
}
.cart {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: 50px;
  padding-left: 65px;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
}

.cart:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 37px;
  width: 16px;
  height: 16px;
  background: transparent url("../img/sprite-test.png") no-repeat;
  background-position: -36px -36px;
}

.cart:hover:before {
  opacity: 1;
  background: #fb565a;
  background: transparent url("../img/sprite-test.png") no-repeat;
  background-position: -36px -213px;
}

.cart:active:before {
  background: transparent url("../img/sprite-test.png") no-repeat;
  background-position: -36px -124px;
  opacity: .5;
}
.title-shop  {
display: inline-block;
vertical-align: middle;
margin-left: 105px;
}
.title-shop h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}
/*--------------------slider-------*/

.slider {
  position: relative;
  width: 880px;
  min-height: 310px;
  margin: 0 auto;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 310px;
  background-repeat: no-repeat;
  background-position: 100% 10px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  transition: left 0.3s ease;
  margin-top: 25px;
}
.slider input[type="radio"] {
  display: none;
}
.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  z-index: 10;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}
.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  vertical-align: top;
  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.slide-text {
  width: 500px;
  padding: 30px 0;
}
.slide-title {
  font-weight: 500;
  font-size: 36px;
}
.slide p {
  font-weight: 500;
  line-height: 22px;
  color: #283136;
}
.slide .btn {
  display: block;
  width: 220px;
  margin-top: 25px;
  padding: 12px 10px;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}
.slide:nth-child(1) {
  background-image: url("../img/slide1.png");
}
.slide:nth-child(2) {
  background-image: url("../img/slide2.png");
}
.slide:nth-child(3) {
  background-image: url("../img/slide3.png");
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  left: 0;
}
#btn-1:checked ~ .slides .slide:nth-child(2), #btn-1:checked ~ .slides .slide:nth-child(3) {
  left: 880px;
}
#btn-2:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  left: 0;
}
#btn-2:checked ~ .slides .slide:nth-child(3) {
  left: -880px;
}
#btn-3:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}
#btn-3:checked ~ .slides .slide:nth-child(2) {
  left: -880px;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  left: 0;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

/*------------promo---------------*/

.promo {
  float: left;
  margin-top: 80px;
  margin-left: 75px;
  margin-bottom: 80px;
  width: 238px;
}
.promo:nth-child(1) {
  margin-left: 10px;
}
.promo-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
}
.promo-text {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: #000;
}
.promo .btn {
  display: block;
  width: 220px;
  margin-top: 25px;
  padding: 12px 9px;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
}
.red {
  background: #fb565a;
}
.red:hover {
  background: #d6494d;
}
.red:active {
  background: #b63538;
}
.green {
  background: #00ca74;
}
.green:hover {
  background: #01a25e;
}
.green:active {
  background: #009053;
}
.yellow {
  background: #efc84a;
}
.yellow:hover {
  background: #d6ae2c;
}
.yellow:active {
  background: #c09b24;
}
hr {
  border-top: #eeeeee solid 2px;
}

/*--------------about----------------*/

.about-left {
  float: left;
  width: 620px;
}
.about-right {
  float: right;
  width: 250px;
}

.section-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 18px;
    margin-top: 20px;
}

.section-list li {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    list-style-type: none;
    padding-left: 36px;
    margin-bottom: 20px;
}

.section-list li::before {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}
.section-title {
font-weight: 500;
font-size: 36px;
}
.about-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  color: #000;

}
.about-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;

}

.about-logo {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 40px;
}
.about-since {
  position:relative;
  z-index:1;
  overflow:hidden;
  text-align:center;
  left: 65px;
}

.about-since:before,
.about-since:after {
  content:'';
  display:inline-block;
  width:65px;
  height:1px;
  background:#eeeeee;
  z-index:-1;
  position:relative;
  vertical-align:middle;
}

.about-since:before {
  right:20px;
  margin:0 0 0 -100%;
}

.about-since:after {
  left:20px;
  margin:0 -100% 0 0;
}

.partners-img   {
  padding-top: 55px;
  padding-bottom: 55px;
}

 .partners-img a {
padding-right: 120px;
 opacity: 0.4;
}

.partners-img a:hover {
  opacity: 1;
}
.partners-img a:nth-child(3) {
  padding-right: 0;
}
/*--------------------shop-------------------*/
.shop {
  margin-top: 80px;
}
.main-text {
  margin: 0 auto;
  background: #eeeeee;
  margin-bottom: 20px;
  width: 680px;
  line-height: 1.2;
  padding-right: 10px;
}

.main-text h1 {
  text-align: center;
  clear: both;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  padding-top: 38px;
  padding-bottom: 56px;
}

.content-column-left {
  float: left;
  width: 250px;
  font-size: 0;
}

.filter-title {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: normal;
}

.range-filter {
  width: 240px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 13px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.min-price {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 2px;
}

.max-price {
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 2px;
}

.price-controls input {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 5px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}

.content-grid {
  margin: 0;
  padding: 0;
  font-size: 16px;
  margin-top: 48px;
}

.content-grid h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: normal;
}

.content-features h2 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 29px;
  font-weight: normal;
}

.types {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #283136;
  font-size: 16px;
  line-height: 20px;
}

.types li {
  position: relative;
  padding-bottom: 13px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] +label {
  position: relative;
  padding-left: 35px;
  line-height: 23px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

input[type="checkbox"] +label::before {
  content: "";
  display: block;
  width: 26px;
  height: 23px;
  background: url("../img/sprite-test.png") no-repeat;
  background-position: -36px -397px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

input[type="checkbox"] + label:hover::before {
  opacity: 1;
}

input[type="checkbox"]:checked +label::before {
  background: url("../img/sprite-test.png") no-repeat;
  background-position: -36px -300px;
}

input[type="checkbox"]:disabled + label::before {
  opacity: 0.2;
}

input[type="checkbox"]:checked:disabled + label:hover::before {
  opacity: 0.2;
}

input[type="checkbox"]:disabled + label:hover::before {
  opacity: 0.2;
}

input[type="checkbox"]:checked + label:hover::before {
  opacity: 1;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] +label {
  position: relative;
  padding-left: 35px;
  line-height: 25px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

input[type="radio"] +label::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: url("../img/sprite-test.png") no-repeat;
  background-position: -36px -871px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

input[type="radio"] + label:hover:before {
  opacity: 1;
}

input[type="radio"]:checked +label::before {
  background: url("../img/sprite-test.png") no-repeat;
  background-position: -36px -774px;
}

input[type="radio"]:disabled + label::before {
  opacity: 0.2;
}

input[type="radio"]:disabled + label:hover::before {
  opacity: 0.2;
}

input[type="radio"]:checked:disabled + label:hover::before {
  opacity: 0.2;
}

input[type="radio"]:checked + label:hover:before {
  opacity: 1;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #283136;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 24px;
}

.features li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 17px;
}

.features li:before {
  position: absolute;
  width: 25px;
  height: 25px;
  background: transparent url("../img/sprite3.png") no-repeat;
  background-position: -20px -20px;
}
.product-item .btn {
  display: block;
  width: 140px;
  margin-top: 25px;
  padding: 12px 9px;
  margin-left: 10px;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
}
.btn-show {
  background: #f1f1f1;
  color: #000000;
  border-radius: 5px;
  width: 156px;
  height: 38px;
  font-size: 12px;
  text-transform: uppercase;
}

.btn-show:hover {
  background: #e5e5e5;
}

.btn-show:active {
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

.content-column-right {
  float: right;
  width: 560px;
}

.selection {
  display: inline-block;
  vertical-align: top;
  width: 560px;
  margin-bottom: 15px;
  font-size: 0;
}

.sort {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 34px;
  padding-top: 4px;
}

.kinds {
  display: inline-block;
  vertical-align: top;
  color: #000000;
  opacity: 0.3;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-right: 43px;
  text-decoration: none;
  border-bottom: 2px dotted #00ca74;
  padding-top: 6px;
}

.kinds:hover {
  color: #000000;
  border-bottom: 2px solid #00ca74;
}

.kinds:active {
  color: #000000;
  border-bottom: none;
}

.triangle {
  margin: 0;
  float: right;
  padding-top: 6px;
  min-width: 30px;
}

.triangle a {
  margin-right: 6px;
}

.green {
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: #00ca72 transparent transparent;
  display: inline-block;
  vertical-align: top;
}

.green:hover {
  border-color: #b5b5b5 transparent transparent;
}

.green:active {
  border-color: #000000 transparent transparent;
}

.gray {
  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #c1c1c1;
  display: inline-block;
  vertical-align: top;
}

.gray:active {
  border-color: transparent transparent #000000;
}

.btn-show {
  outline: 0;
  border: 0;
  margin-top: 20px;
}

.product-catalog {
  width: 560px;
  font-size: 0;
  margin-bottom: 75px;
}

.product-item {
  position: relative;
  display: inline-block;
  width: 240px;
  font-size: 16px;
  vertical-align: top;
  margin-right: 80px;
  margin-bottom: 80px;
  padding-top: 30px;
  background: #f1f1f1;
  height: 240px;
  border-radius: 4px;
}

.product-item:hover {
  background: #797979;
}

.product-item:nth-child(2n) {
  margin-right: 0px;
}

.product-item:nth-child(6) {
  margin-bottom: 0px;
}

.product-item:nth-child(5) {
  margin-bottom: 4px;
}

.item-image:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 17px 0 0 #ffffff, 35px 0 0 #ffffff;
}

.item-action {
  position: absolute;
  display: none;
  bottom: 20px;
  left: 20px;
  top: 50px;
  width: 200px;
  min-height: 200px;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background: #ffffff;
  box-sizing: border-box;
}

.product-item:hover .item-action {
  display: block;
}

.item-title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: normal;
}

.item-price {
  color: #283136;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
}

.item-btn:hover {
  background: #d6494d;
}

.item-btn:active {
  background: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}

.pagination {
  margin-top: 20px;
}

.pagination .active {
  width: 35px;
  padding: 8px 0px;
  background: #ffffff;
  border: 2px solid #f2f2f2;
  color: #000000;
}

.pagination .active:hover {
  background: #ffffff;
  border: 2px solid #f2f2f2;
  box-shadow: none;
}

.pagination .active:active {
  background: #ffffff;
  border: 2px solid #f2f2f2;
}

.pagination a {
  display: inline-block;
  vertical-align: top;
  min-width: 38px;
  line-height: 1.8;
  text-align: center;
  padding: 10px 0px;
  margin-right: 5px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  background: #f1f1f1;
  border-radius: 4px;
  color: #000000;
}

.btn-pages:hover {
  background: #e5e5e5;
}

.btn-pages:active {
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

.next {
  width: 140px;
}

.next:hover {
  background: #e5e5e5;
}

.next:active {
  background: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

/*----------------footer--------------------*/
.main-footer {
  margin-top: 85px;
}
.map {
width: 1200px;
height: 417px;
margin: 0 auto;
z-index: 0;
display: block;
}

.map-adress {
/*  float: left;*/
  position: relative;
  content: '';
  z-index: 4;
  left: 185px;
  bottom: 340px;
  background: #fff;
  width: 250px;
  min-height: 240px;

}
.map-title {
    padding-top: 15px;
    padding-left: 20px;
   font-size: 16px;
    line-height: 30px;
    font-weight: normal;
}
.map-text, .map-tel {
  padding-left: 20px;
   font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color:#666666;
}

.map .btn {
  display: block;
  width: 205px;
  margin-top: 25px;
  margin-left: 20px;
  padding: 12px 0;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}


.footer-social {
  float: left;
  width: 250px;
  text-align: center;
  margin-top: 74px;
}
.btn-social {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
  font-size: 0;
  border-radius: 30px;
  text-decoration: none;
  background: #e1e1e1 url("../img/sprite-test.png");
  margin-right: 28px;
}

.btn-social:last-child {
  margin-right: 0px;
}

.btn-social:hover {
  background-color: #fb565a;
}

.btn-social:active {
  background-color: #d6494d;
  box-shadow: inset 0 3px 0 0 #b63e42;
}

.btn-social-vk {
  background-position: -19px -945px;
}

.btn-social-fb {
  background-position: -12px -570px;
}

.btn-social-inst {
  background-position: -16px -663px;
}

.footer-friendship {
  float: right;
  margin-top: 72px;
  width: 560px;
}

.footer-main-title strong {
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 7px;
  padding-top: 13px;
  text-align: center;
}

.footer-friendship p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #283136;
}